.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000a3;
    padding: 0.5% 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-text{
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
    padding-left: 10%;
}
.footer-box{
    display: flex;
    padding-right: 10%;
}
.footer-box-img{
    width: 50px;
    margin-left: 10px;
}