body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #232323;
    color: white;
    height: 100px;
}

.container {
    height: 100px;
    width: 80%;
    margin: auto;
}

h1 {
    float: left;
}

h3 {
    width: 700px;
}

ul {
    float: right;
    text-transform: uppercase;
}

li {
    float: left;
    list-style: none;
    margin: 18px;
}

<<<<<<< HEAD:Site institucional/Style.css
img {
    margin: 2px;
    margin-left: 5px;
=======
img, p {
    float: left;
>>>>>>> b18f05fa1d33fb397b57ab316d4d3ea2c357a3ea:Style.css
}

.integrantes{
    margin-left: 10px;
}

